body{
    background-color: rgb(228, 234, 193);
}
h2{
    color:blue;
}
    
a{
    font-size: 35px;
    text-decoration-color: rgb(17, 223, 89);
}


ul{
    list-style-type:circle;
}
 ol{
    text-decoration:solid;
    
 }  